a href {color: blue;}
header{
    border: 150 pix solid black;
    background-color: red;
    color: black;
    width: 50 pix;
    text-align: center;
    border-radius: 60;
    margin-bottom: 1em;
}
a:visited {
  color: lightgray;
}

a:hover {
  color:yellow;
  text-decoration: underline;
}
 ul {
        list-style-type: decimal;
        font-style: normal;
        display: block;
      }
      .sides{text-decoration: solid;}
      