a href {color: blue;}
header{
    top: 0;
    border: 150 pix solid black;
    background-color: red;
    color: black;
    width: auto;
    text-align: center;
    border-radius: 60;
    margin-bottom: 1em;
}


a:visited {
  color: lightgray;
}

a:hover {
  transform : scale (1.2);
  cursor:grab;
  text-decoration: underline;
}
 ul {
        list-style-type: decimal;
        font-style: normal;
        display: inline-block;
      }
      .sides{text-decoration: solid;}
      .image :hover {
        scale: 1.2;}
      .image {display: inline-block;
        size: 50 pix;
        position:relative };
      